<article class="card">
  <h3 class="card-title">{{post_title}}</h3>
  <h6 class="card-subtitle">Posted by: {{user.username}}</h6>
  <p class="card_subtitle">Posted: {{createdAt}} </p>
  <h4 class="card-text">{{post_body}}</h4>

  <div class="row justify-content-around">
    <button
      class="btn btn-secondary btn-sm col-3 my-2"
      id="editBtn"
      value={{post_id}}
    >
      <a href="/editpost/{{post_id}}">Edit</a></button>
    <button
      class="commentBtn btn btn-secondary btn-sm col-3 my-2"
      value={{post_id}}
    >Comments</button>
    <button
      class="btn btn-secondary btn-sm col-3 my-2"
      id="deleteBtn"
      value={{post_id}}
    >Delete</button>
  </div>

</article>