<div class="row justify-content-around my-3">
  <button class="btn btn-secondary col-3"><a href="/dashboard">Back to Dashboard</a></button>
  <button class="btn btn-secondary col-3"><a href="/myposts">Back to My Posts</a></button>
  <button class="btn btn-secondary col-3" id="logoutBtn">Logout</button>
</div>


<article class="card" id="mainPost" value={{post.0.post_id}}>
  <h3 class="card-title">{{post.0.post_title}}</h3>
  <h6 class="card-subtitle">Posted by: {{post.0.user.username}}</h6>
  <p class="card_subtitle">Posted: {{post.0.createdAt}} </p>
  <h4 class="card-text">{{post.0.post_body}}</h4>
</article>
<br />
<div>
    {{#each post.0.post_comments as |comment|}}
    {{> post-comments}}
    {{/each}}
</div>

<div>
  <label><h5>Add a new comment:</h5></label>
</div>  
  <input type="text" id="newCommentText input-group-text col-8" placeholder="What are your thoughts?">
  <button id="newCommentBtn">Add Comment</button>


<script src="/js/comments.js"></script>
